<div class="banner">

  <div class="add-wrap">
    <h4>Add cocktail</h4>
    <div class="button-icon-front">
      <%= link_to new_cocktail_path do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>

  <div class="banner-title ">
    <h1>Create beautiful cocktails</h1>
  </div>
</div>
<div class="page-wrap">

  <div class="content-wrap">
    <div class="card-grid">
        <% @cocktails.each do |cocktail| %>
          <div class="cards">
            <div class="card-delete">
              <%= link_to destroy_cocktail_path(cocktail), class: 'delete',
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
                  <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
            <% if cocktail.image.nil? %>
              No image
              <% else %>
            <%= cl_image_tag cocktail.photo.key, class:"card-image" %>
            <% end %>
            <div class="card-content">
              <%= link_to cocktail.name, cocktail_path(cocktail) %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>






