

<div class="banner">

  <div class="banner-title ">
    <h1>Create beautiful cocktails</h1>
  </div>
</div>
<div class="page-wrap">

  <div class="content-wrap">
    <div class="card-grid">
        <% @cocktails.each do |cocktail| %>
          <div class="cards">
            <div class="card-delete">
              <%= link_to destroy_cocktail_path(cocktail), class: 'delete',
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
                  <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
            <% if cocktail.image.nil? %>
              No image
              <% else %>
            <%= image_tag cocktail.image, class:"card-image" %>
            <% end %>
            <div class="card-content">
              <%= link_to cocktail.name, cocktail_path(cocktail) %>
            </div>
          </div>
        <% end %>

        <p><%= link_to 'New Cocktail', new_cocktail_path %></p>

    </div>
  </div>
</div>






