.page-wrap-form {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-wrap-form {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 80px;
    margin-bottom: 50px;
  }

  .string, .file.optional {
    font-weight: 200;
    color: black;
  }

  .form-control {
    border-radius: 25px;
    height: 50px;
    width: 100%;
    border: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1)
  }
}

.input[type="file" i] {
  margin-left: 20px;
  z-index: 5;
  border: 1px solid white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease;
}

.submit {
  background-color: black;
  height: 60px;
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease;
  color: white;
  transition: 1s ease;
  flex-grow: 1;
  margin-bottom: 50px;
  margin-top: 20px;

  .btn {
    color: white;
  }

  a {
    color: white;
  }
}

.simple_form {
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.submit:hover {
  background-color: white;

   .btn {
    color: black;
  }

  a {
    color: black;
  }
}

.button-icon-form {
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease;

  i {
    color: rgb(255, 146, 38);
  }
}

.button-icon-form:hover {
  background-color: rgb(255, 146, 38);

  i {
    color: white;
  }
}
