// Specific CSS for your home-page

.banner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: asset-url('img_2636.jpg');
  background-size: cover;
  background-position: bottom;

}

.banner-title {

  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;


  h1 {
    font-size: 60px;
    color: white;
    padding-bottom: 100px;
  }

}

.content-wrap {
  width: 65%
}

.page-wrap {
  background-color: rgb(255, 146, 38);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: top;
}
