// Specific CSS for your home-page

.banner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: asset-url('img_2636.jpg');
  background-size: cover;
  background-position: bottom;

}

.banner-title {

  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;


  h1 {
    font-size: 80px;
    color: white;
    padding-bottom: 100px;
  }

}

.content-wrap {
  width: 65%
}

.page-wrap {
  background-color: rgb(255, 146, 38);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: top;
}

.add-wrap {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;

  h4 {
    color: white;
    margin-bottom: 0;
  }
}

.button-icon-front {
  margin-left: 20px;
  z-index: 5;
  border: 1px solid white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease;

  i {
    color: white;
  }
}

.button-icon-front:hover {
  background-color: white;

  i {
    color: rgb(255, 146, 38);
  }
}
