.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 40px;
  width: 100%;
  margin-bottom: 100px;
}

.cards {
  background-color: white;
  position: relative;
  transition: 1s ease;

  a {
    color: rgb(255, 146, 38);
    font-size: 25px;
    transition: 1s ease;
  }

  a:hover {
    color: black;
    text-decoration: none;
  }

}

.card-image {
  height: 200px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.card-content {
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-family: 'Canela Web';

  i {
    font-size: 15px;
  }
}

.card-delete {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 32px;
  right: 30px;
  opacity: 0;

  i {
    color: rgba(0, 0, 0, 0.2);
    font-size: 15px;
  }

  i:hover {
    color: rgb(255, 146, 38);
  }
}

 .cards:hover .card-delete {
    opacity: 1;
  }
