.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 40px;
  width: 100%;
  margin-bottom: 100px;
}

.cards {
  background-color: black;
  position: relative;

  a {
    color: white;
  }

}

.card-image {
  height: 200px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.card-content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-family: 'Canela Web';

  i {
    font-size: 15px;
  }
}

.card-delete {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  top: -20px;
  right: 10px;

  i {
    color: rgb(255, 146, 38);
  }
}
